.body--dark {
  /** SCSS DARK THEME PRIMARY COLORS */
  .primarymodes {
    background-color: #66c530 !important;
  }
  .secondarymodes {
    background-color: #1b6f3b !important;
  }
  .accentmodes {
    background-color: #259868 !important;
  }
  .backgroundmodes {
    background-color: #040802 !important;
  }

  .pagebackground {
    background-color: #18181b !important;
  }

  .text-colormodes {
    color: #f8fdf7 !important;
  }
}
