.body--light {
  /** SCSS DARK THEME PRIMARY COLORS */
  .primarymodes {
    background-color: #71cf3a !important;
  }
  .secondarymodes {
    background-color: #90e4b0 !important;
  }
  .accentmodes {
    background-color: #67daaa !important;
  }
  .backgroundmodes {
    background-color: #f9fdf7 !important;
  }
  .pagebackground {
    background-color: #f5f5f7 !important;
  }

  .text-colormodes {
    color: #030802 !important;
  }
}
